@import url('https://fonts.googleapis.com/css?family=League+Spartan:500;700&display=swap');

:root
{
    --button-digit-font-size:               32px;
    --calculator-width:                     360px;

    --button-width:                         60px;
    --button-height:                        60px;
    --button-shadow:                        4px;

}
